/* Main Nav */
.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container-nav {
    display: flex;
    align-items: center;
}

.logo-small {
    align-self: flex-start;
}

.logo-name {
    margin-left: 33px;
}

.search-input {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.search-input::placeholder {
    text-align: center;
}

.search-input:focus::placeholder {
    text-align: left;
}