/* Main Footer */
.footer-more-options {
  display: flex;
  margin-left: 80px;
}
.footer-more-options li {
  margin-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
}
.footer-more-options li a {
  text-decoration-line: none;
  color: #003569;
}
.brand-sign {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #999999;
  margin-left: 144px;
  margin-top: -10px;
  margin-bottom: 30px;
}
