@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Rubik:400,500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 5px 10px;
    text-decoration: none;
    background: #3897F0;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.btn-sign-up {
    background: none;
    color: #3897F0;
}

/* Responsive Design */

@media only screen and (max-width: 500px) {
    .main-content {
        max-width: 500px !important;
    }

    .article-option {
        width: 100% !important;
        justify-content: space-around !important;
        margin: 0 !important;
    }
}







































