/* Main Nav */
.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container-nav {
    display: flex;
    align-items: center;
}

.logo-small {
    align-self: flex-start;
}

.logo-name {
    margin-left: 33px;
}
