/* Main Content */
/*.main-header {*/
/*display: flex;*/
/*}*/

/* Recommended Users */
.recommended-users {
    grid-area: recommended-users;
    width: 935px;
    margin: 0 auto 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.recommended-users li {
    text-align: center;
}

.recommended-users li:hover {
    cursor: pointer;
}

.recommended-users li span {
    margin-top: 15px;
    display: block;
}

/* Article Options*/

.article-option {
    max-width: 935px;
    margin: 200px auto 17px auto;
    list-style: none;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(38, 38, 38, .5);
}

.article-option li {
    box-sizing: border-box;
    padding: 10px 40px;
}

.article-option li:hover {
    border-top: 1px solid rgba(38, 38, 38, 1);
}

.article-option li a {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

.article-option li a:hover {
    color: #262626;
}

.article-option .active {
    color: #262626;
}

/* Gallery Articles*/

.gallery-article {
    max-width: 935px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 28px 28px;
    justify-items: center;
}

/* Main Content */
/*profile info*/
.main-header {
    padding-top: 50px;
    max-width: 935px;
    margin: 0 auto;
}

.profile-extra-info li, .profile-extra-info a {
    font-size: 16px;
    color: #262626;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

.user-info h2 {
    color: #262626;
    font-size: 16px;
    font-weight: normal;
}

.user-info p {
    color: #262626;
    font-size: 15px;
}

.user-info a {
    font-size: 16px;
    color: #003569;
    text-decoration: none;
}

/*grid */
.main-header {
    margin-bottom: 50px;
    display: grid;
    max-height: 150px;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-template-areas:
            "logo-big logo-big profile profile"
            "logo-big logo-big user-info user-info"
            "recommended-users recommended-users recommended-users recommended-users";
}

.logo-big {
    align-self: flex-start;
    justify-self: center;
    height: auto;
    grid-area: logo-big;
}

.profile-info {
    grid-area: user-info;
}

/*.recommended-users {*/
/*grid-area: recommend;*/
/*}*/

.profile-basic-info {
    display: grid;
    grid-area: profile;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-areas: "title button .";
    justify-items: start;
}

.profile-name {
    font-weight: normal;
    font-size: 26px;
    color: #262626;
    grid-area: title;
}

.btn-follow {
    grid-area: button;
    align-self: center;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background-color: #3897f0;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
}

.profile-extra-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.user-info {
    grid-area: user-info;
    margin: 25px 0;
}

.user-name {
    margin-top: 20px !important;
}

.user-name, .user-description, .user-link {
    margin: 7px 0;
    padding-left: 0;
}
































