/* Main Content */
.main-header {
    display: flex;
}

/* Recommended Users */
.recommended-users {
    max-width: 935px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.recommended-users li {
    text-align: center;
}

.recommended-users li:hover {
    cursor: pointer;
}

.recommended-users li span {
    margin-top: 15px;
    display: block;
}

/* Article Options*/

.article-option {
    max-width: 935px;
    margin: 53px auto 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(38, 38, 38, .5);
}

.article-option li {
    box-sizing: border-box;
    padding: 10px 40px;
}

.article-option li:hover {
    border-top: 1px solid rgba(38, 38, 38, 1);
}

.article-option li a {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

.article-option li a:hover {
    color: #262626;
}

.article-option .active {
    color: #262626;
}

/* Gallery Articles*/

.gallery-article {
    max-width: 935px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 28px 28px;
    justify-items: center;
}

































